body {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 22px;
  padding-top: 50px;
}
thead {
  background-color: #333;
  color: white;
}
table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;

}
thead th {
  width: 25vw;
}
tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}